<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/7f543d5ab7.js" crossorigin="anonymous"></script>


    <title>MercadoLiebre</title>
</head>

<body>
    <header>
        <div class="LogoYBuscador">
            <a href="/" id="Logo"><img src="\images\logo-mercado-liebre.svg"></a>
            <input type="search" id="Buscador" placeholder="Buscar productos, marcas y más...">
            <div class="ServicioHeader">
            <i class="fa-solid fa-money-bill-trend-up"></i>
            <p id="ServicioHeader">Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <br>
        <div id="Navbar">
    

            <p> <a href="#" class="Navbar">Ofertas</a></p>
            <p> <a href="#" class="Navbar">Tiendas oficiales </a></p>
            <p> <a href="#" class="Navbar">Vender</a></p>
            <p> <a href="#" class="Navbar">Ayuda</a></p>

            <div class="ImagenEIcono">

                <p> <a href="register.html" class="FuncionesDeUsuario">Creá tu cuenta</a></p>
                <i class="fa-solid fa-user" id="Icono"></i>
            </div>


            <div class="ImagenEIcono">
                <p><a href="login.html" class="FuncionesDeUsuario">Ingresá</a></p>
                <i class="fa-sharp fa-solid fa-right-to-bracket" id="Icono"></i>
            </div>

            <div class="ImagenEIcono">
                <p><a href="#" class="FuncionesDeUsuario">Mis compras</a></p>
                <i class="fa-sharp fa-solid fa-cart-shopping" id="Icono"></i>
            </div>
            <i class="fas fa-bars" id="Barras"></i>


        </div>



    </header>

    <main>
        <img src="\images\img-home-banner.jpg" id="Banner">
        <section> Basado en tu última visita:</section>
        <div class="Contenedorproductos">
            <div class="Producto">
                <img src="\images\img-cafetera-moulinex.jpg" class="Imagenproducto">
                <i class="fa-solid fa-truck-fast" id="Camioncito"></i>
                <div class="Detallesproducto">
                    <p class="Precio">$6.770</p>
                    <p class="Descuento">40% OFF</p>
                    <br>
                    <br>
                </div>
                <p class="Descripcion">Cafetera Moulinex</p>
            </div>
            <div class="Producto">
                <img src="\images\img-macbook-pro-2019.jpg" class="Imagenproducto">
                <i class="fa-solid fa-truck-fast" id="Camioncito"></i>
                <div class="Detallesproducto">
                    <p class="Precio">$230.000</p>
                    <p class="Descuento">20% OFF</p>
                    <br>
                    <br>
                </div>
                <p class="Descripcion">Macbook Pro 2019</p>
            </div>
            <div class="Producto">
                <img src="\images\img-samsung-galaxy-s10.jpg" class="Imagenproducto">
                <i class="fa-solid fa-truck-fast" id="Camioncito"></i>
                <div class="Detallesproducto">
                    <p class="Precio">$70.500</p>
                    <p class="Descuento">10$ OFF</p>
                    <br>
                    <br>
                </div>
                <p class="Descripcion">Samsung Galaxy S10</p>
            </div>
            <div class="Producto">
                <img src="\images\img-tv-samsung-smart.jpg" class="Imagenproducto">
                <i class="fa-solid fa-truck-fast" id="Camioncito"></i>
                <div class="Detallesproducto">
                    <p class="Precio">$23.200</p>
                    <p class="Descuento">5% OFF</p>
                    <br>
                    <br>
                </div>
                <p class="Descripcion">SmarTv Samsung 43"</p>
                </div>
                
        </div>
    </main>

    <footer>
        <div class="Footer">
            <div class="ElementoFooter">
            <i class="fa-solid fa-credit-card" id="Footer"></i>
            <br>
            <h4> Pagá con tarjeta o en efectivo </h4>
            <br>
            <p>Con MercadoLiebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago ¡Y siempre es
                seguro!</p>
                </div>
                <div class="ElementoFooter">
            <i class="fa-solid fa-gift" id="Footer"></i>
            <br>
            <h4>Envío gratis desde $2500</h4>
            <br>
            <p>Sólo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de
                MercadoPuntos</p>
                </div>
            <div class="ElementoFooter">
            <i class="fa-solid fa-user-shield" id="Footer"></i>
            <br>
            <h4>Seguridad, de principio a fin</h4>
            <br>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre, no hay nada que no puedas hacer porque estás siempre
                protegid@</p>
                </div>
                </div>
            <br>
            <br>
            <br>
            <li>Copyright © 1999-2020 MercadoLiebre S.R.L</li>
            
        

    </footer>

</body>

</html>